  .container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .logo {
    margin: 5em 0
  }

  .card {
    background-color: $white;
    height: 100px;
    width: 100%;
    border-radius: 2.5em;
    display: flex;
    align-items: center;
    flex-direction: column;
  }